.App {
  background-color: #29353f;
}

.parent {
  padding: 20px;
  border: 5px solid #3dd2e5;
  border-radius: 15px;
  width: 500px;
  height: 400px;
}

.counter {
  font-size: 100px;
  font-weight: bold;
  background-color: #3dd2e5;
  border-radius: 15px;
  height: 200px;
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maxValueCounter {
  font-size: 120px;
  color: #da1212;
}

.rowButtons {
  border: 5px solid #3dd2e5;
  border-radius: 15px;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  font-size: 50px;
  font-weight: bold;
  background-color: #3dd2e5;
  border-radius: 15px;
  width: 180px;
  height: 80px;
  cursor: pointer;
}

.button:active {
  background-color: #29353f;
  color: #3dd2e5;
}

.buttonNotActive {
  background-color: #185159;
  color: #29353f;
  /*pointer-events: none;*/
  /*использовалось вместо disabled на кнопки*/
}

.buttonNotActive:active {
  color: #29353f;
}